---
- hosts: 127.0.0.1
  connection: local
  vars_files:
  - ../../env_variables
  tasks:
  - name: Deploy GlusterFS
    shell: |
      kubectl create ns {{ gluster_fs_namespace }}
      /home/ubuntu/gluster-kubernetes/deploy/gk-deploy -g \
           --ssh-user ubuntu \
           --user-key {{ user_key }} \
           --admin-key {{ admin_key }} \
           -l /home/ubuntu/heteki_deployment.log \
           -v /home/ubuntu/topology.json \
           -n {{ gluster_fs_namespace }}  -y
      
           


