---
- hosts: kubernetes-master-nodes
  vars_files:
  - env_variables
  tasks:
  tasks:
  - name: Copying token to worker nodes
    copy: src=/home/ubuntu/{{ token_file }} dest=/home/ubuntu/join_token
  
  - name: Getting joining token
    shell: |
      kubeadm reset -f
      cat /home/ubuntu/join_token | tail -2 |  awk {'print $5'}
    register: token
    become: yes
    become_user: root
  
  - name: Getting joining token
    shell: |
      cat /home/ubuntu/join_token | tail -2 |  awk {'print $2'} | tail -1
    register: discovery_token

  - name: Creating a repository file for Kubernetes
    file:
      path: /etc/kubernetes/aws.yml
      state: touch
    become: yes
    become_user: root

  - name: Setting up join file
    blockinfile:
      path: /etc/kubernetes/aws.yml
      block: |
        ---
        apiVersion: kubeadm.k8s.io/v1beta2
        kind: JoinConfiguration
        discovery:
          bootstrapToken:
            token: {{ token.stdout }}
            apiServerEndpoint: {{ control_plane_endpoint }}
            caCertHashes: 
              - {{ discovery_token.stdout }}
        nodeRegistration:
          name: {{ inventory_hostname }}
          kubeletExtraArgs:
            cloud-provider: aws
        controlPlane:
          localAPIEndpoint:
            advertiseAddress: {{ ansible_host }}
          certificateKey: {{ certificate.stdout }} #To fix when AWS is available
    become: yes
    become_user: root

  - name: Join the workers to the k8s cluster
    shell: kubeadm join --config=/etc/kubernetes/aws.yml
    become: yes
    become_user: root
