---
- hosts: all
  vars_files:
  - ../env_variables
  tasks:
  - name: Installing docker
    shell: |
      apt-get update 
      apt-get install -y apt-transport-https ca-certificates curl software-properties-common
      curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
      add-apt-repository \
        "deb [arch=amd64] https://download.docker.com/linux/ubuntu \
        $(lsb_release -cs) \
        stable"
      apt-get update
      apt-get install -y docker-ce={{docker_version}}
      cat > /etc/docker/daemon.json <<EOF
      {
        "exec-opts": ["native.cgroupdriver=cgroupfs"],
        "log-driver": "json-file",
        "log-opts": {
        "max-size": "100m"
        },
        "storage-driver": "overlay2"
      }
      EOF
      mkdir -p /etc/systemd/system/docker.service.d
      systemctl daemon-reload
      systemctl restart docker
      usermod -aG docker ubuntu
    become: yes
    become_user: root
    
  
    
  - name: Installing kubeadm, kubelet and kubectl
    shell: |
      curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -
      cat <<EOF >/etc/apt/sources.list.d/kubernetes.list
      deb https://apt.kubernetes.io/ kubernetes-xenial main
      EOF
      apt-get update
      apt-get install -y kubelet={{kubernetes_version}} kubeadm={{kubernetes_version}} kubectl={{kubernetes_version}}
      apt-mark hold kubelet kubeadm kubectl
    become: yes
    become_user: root
      
  - name: Set hostname in each machine
    shell: hostnamectl set-hostname {{ inventory_hostname }}
    become: yes
    become_user: root
     
  - name: Add IP address of all hosts to all hosts for DNS resolution
    lineinfile:
      dest: /etc/hosts
      regexp: '.*{{ item }}$'
      line: "{{ hostvars[item].ansible_host }} {{item}}"
      state: present
    when: hostvars[item].ansible_host is defined
    with_items: "{{ groups.all }}"
    become: yes
    become_user: root
   
