---
- hosts: kubernetes-worker-nodes
  vars_files:
  - ../../env_variables
  tasks:
  - name: Copying token to worker nodes
    copy: src=/home/ubuntu/{{ token_file }} dest=/home/ubuntu/join_token

  - name: Reseting kubeadm
    shell: kubeadm reset -f
    become: yes
    become_user: root
  
  - name: Getting joining token
    shell: |
      cat /home/ubuntu/join_token | tail -2 |  awk {'print $5'} | head -1
    register: token
    become: yes
    become_user: root
  
  - name: Getting joining token
    shell: |
      cat /home/ubuntu/join_token | tail -2 |  awk {'print $2'} | tail -1
    register: discovery_token

  - name: Creating a repository file for Kubernetes
    file:
      path: /etc/kubernetes/aws.yml
      state: touch
    become: yes
    become_user: root

  - name: Setting up join file
    blockinfile:
      path: /etc/kubernetes/aws.yml
      block: |
        apiVersion: kubeadm.k8s.io/v1beta1
        kind: JoinConfiguration
        discovery:
          bootstrapToken:
            token: {{ token.stdout }}
            apiServerEndpoint: {{ control_plane_endpoint }}
            caCertHashes:
              - {{ discovery_token.stdout }}
        nodeRegistration:
          name: {{ inventory_hostname }}
    become: yes
    become_user: root

  - name: Join the workers to the k8s cluster
    shell: kubeadm join --config=/etc/kubernetes/aws.yml
    become: yes
    become_user: root


  

  
